/************************************************************************************
smaller than 1024
*************************************************************************************/
@media screen and (max-width: 1024px) {


* {
	padding:0;
	margin:0;
}

body{
	background:whitesmoke;
	text-align:center; /*para que en IE 5.5 salga centrado*/
}




#destacado{
	margin: 0px 15px 15px 15px;
	height: 100px;
	background: whitesmoke;
}

#encabezado{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 100px;
        width: 80%;
	background: greenyellow;
        margin:auto;
        
       background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#6a6a6a));
	background: -moz-linear-gradient(top,  #aaffaa,  #ffffff);
	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	 box shadow 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);*/
}

#cuerpo{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 450px;
        width: 80%;
	background: white;
        margin:auto;
}

#noticias{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 100%;
        width: 50%;
	background:tomato;
        margin:auto;
        float: left; 
        
     
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
}

#galeria{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 100%;
        width: 50%;
	background: darkkhaki;
        margin: auto;
        float: right; 
        
       
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
}

#menu_main{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 20px;
        width: 80%;
	background:darkseagreen;
        margin:auto;
        
/*        	width: 100%;
	background: #ccc;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 100;
	 gradient 
	background: #6a6a6a; url(images/nav-bar-bg.png) repeat-x;
/**/	background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
	background: -moz-linear-gradient(top,  #b9b9b9,  #aaffaa);
	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	 box shadow 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);*/
}

#pie{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 20px;
        width: 80%;
	background:lightgreen;
        margin:auto;
        
        background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
	background: -moz-linear-gradient(top,  #b9b9b9,  #aaffaa);
	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	 box shadow 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);*/
}



/*
Si uno de los elementos es demasiado grande y queremos poner un scroll
para que no se estropee la maquetaciÃ³n
*/


/*	 embedded videos 
	.video embed,
	.video object,
	.video iframe {
		width: 100%;
		height: auto;
		min-height: 300px;
	}*/

}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {

	root { 
    display: block;
}

* {
	padding:0;
	margin:0;
}

body{
	background: white;
	text-align:center; /*para que en IE 5.5 salga centrado*/
}



#encabezado{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 100px;
        width: 100%;
	background: greenyellow;
        margin:auto;
        
       background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#6a6a6a));
	background: -moz-linear-gradient(top,  #aaffaa,  #ffffff);
	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	 box shadow 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);*/
}

#cuerpo{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 450px;
        width: 100%;
	background: white;
        margin:auto;
}

#noticias{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 300px;
        width: 100%;
	background:tomato;
        margin:auto;
/*        float: left; */
        
     
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
}

#galeria{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 300px;
        width: 100%;
	background: darkkhaki;
        margin: auto;
/*        float: left; */
        
       
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
}

#menu_main{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 40px;
        width: 100%;
	background:darkseagreen;
        margin:auto;
        
/*        	width: 100%;
	background: #ccc;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 100;
	 gradient 
	background: #6a6a6a; url(images/nav-bar-bg.png) repeat-x;
/**/	background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
	background: -moz-linear-gradient(top,  #b9b9b9,  #aaffaa);
	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	 box shadow 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);*/
}

#pie{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 20px;
        width: 100%;
	background:lightgreen;
        margin:auto;
        
        background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
	background: -moz-linear-gradient(top,  #b9b9b9,  #aaffaa);
	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	 box shadow 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);*/
}



/*
Si uno de los elementos es demasiado grande y queremos poner un scroll
para que no se estropee la maquetaciÃ³n
*/

}

/************************************************************************************
smaller than 400
*************************************************************************************/
@media screen and (max-width: 400px) {

	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}

		root { 
    display: block;
}

* {
	padding:0;
	margin:0;
}

body{
	background: white;
	text-align:center; /*para que en IE 5.5 salga centrado*/
}



#encabezado{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 100px;
        width: 300px;
	background: greenyellow;
        margin:auto;
        
       background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#6a6a6a));
	background: -moz-linear-gradient(top,  #aaffaa,  #ffffff);
	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	 box shadow 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);*/
}

#cuerpo{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 450px;
        width: 300px;
	background: white;
        margin:auto;
}

#noticias{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 300px;
        width: 100%;
	background:tomato;
        margin:auto;
/*        float: left; */
        
     
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
}

#galeria{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 300px;
        width: 100%;
	background: darkkhaki;
        margin: auto;
/*        float: left; */
        
       
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
}

#menu_main{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 40px;
        width: 100%;
	background:darkseagreen;
        margin:auto;
        
/*        	width: 100%;
	background: #ccc;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 100;
	 gradient 
	background: #6a6a6a; url(images/nav-bar-bg.png) repeat-x;
/**/	background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
	background: -moz-linear-gradient(top,  #b9b9b9,  #aaffaa);
	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	 box shadow 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);*/
}

#pie{
        margin-top:10px;
	margin: 15px 15px 15px 15px;
	height: 20px;
        width: 100%;
	background:lightgreen;
        margin:auto;
        
        background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
	background: -moz-linear-gradient(top,  #b9b9b9,  #aaffaa);
	background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
	 rounded corner 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	 box shadow 
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);*/
}



/*
Si uno de los elementos es demasiado grande y queremos poner un scroll
para que no se estropee la maquetaciÃ³n
*/

}

}



