#comanda{
        margin-top:10px;
	margin: 1px 1px 1px 1px;
/*	height: 380px;*/
        width: 100%;
	
        padding: 1px 1px 1px 1px;
        margin-left:auto;
        margin-right:auto;
        float: left;
        overflow:auto;
        
        background: rgba(200,200,200,.5);
        /*	 rounded corner*/
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
      	
        
       
/*        font: bold 24px verdana, arial, helvetica, sans-serif;*/
}


.verde{
    background: greenyellow;
/*    background: rgba(100,200,100,.7);*/
}

.normal{
    background:white;
}

.entregado{
    background:silver;
}

.celda_entr{
    width: 60px;
}

.botoncillo{
        margin-top:1px;
        margin-right: 1px;
        margin-left: 1px;  
        margin-bottom: 1px;
/*	margin: 15px 15px 15px 15px;*/
	height: 50px;
        width: 50px;
	background: red;
/*        margin:auto;*/
        float: left;
        text-align: center;
/*        border: 1px solid;*/
        padding: 5px 5px 5px 5px;
      
        	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
      
        
        
        font-size:24px;
}

/*ESTILO DE LAS TABLAS*/

table {
  border-collapse: collapse;
  border: 1px solid #03476F;
  font: bold 19px verdana, arial, helvetica, sans-serif;
  color: #363636;
/*   background: rgba(200,200,200,.5);
        	 rounded corner
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;*/
/*      #92C428;*/
  }
caption {
  text-align: center;
  font: bold 18px arial, helvetica, sans-serif;
  background: transparent;
  padding:6px 4px 8px 0px;
  color: #03476F;
  text-transform: uppercase;
  }
td, th {
  border: 1px dotted #03476F;
  padding: .4em;
  color: #363636;
  }

thead th, tfoot th {
  font: bold 11px verdana, arial, helvetica, sans-serif;
  border: 1px solid #03476F;;
  text-align: left;
  background: #4591AD;
  color: #FFFFFF;
  padding-top:3px;
  }
tbody td a {
  background: transparent;
  text-decoration: none;
  color: #363636;
  }
tbody td a:hover {
  background: #92C428; 
/*  #C2F64D;*/
  color: #363636;
  }
tbody th a {
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: transparent;
  text-decoration: none;
  font-weight:normal;
  color: #363636;
  }
tbody th a:hover {
  background: transparent;
  color: #363636;
  }
tbody th, tbody td {
  vertical-align: top;
  text-align: left;
  }
tfoot td {
  border: 1px solid #03476F;
  background: #4591AD;
  padding-top:3px;
  color: #FFFFFF;
  }
.odd {
  background: #AEE239;
  }
tbody tr:hover {
  background: #FFD800;
  border: 1px solid #03476F;
  color: #FFFFFF;
  }
tbody tr:hover th,
tbody tr.odd:hover th {
  background: #FFD800;
  color: #FFFFFF;
  }
  
 
